body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 5rem;
}

header {
    background-color: #003366;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.logo {
    height: auto;
    max-height: 120px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

input, textarea {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input:focus {
    border-color: #0066cc;
    outline: none;
}

form {
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form button {
    background-color: #016ad2;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #004d99;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #003366;
    color: white;
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th, td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
}
th {
    background-color: #f0f0f0;
}

.member-table {
  margin-left: 0 !important;
  margin-right: auto !important;
  width: 100% !important;
}